<nav id="header" class="navbar sticky-top navbar-expand navbar-light">
    <a href="/" class="navbar-brand">
        {{#if logo}}
        <img src="{{logo}}" alt="Logo">
        {{else}}
        <img src="./assets/images/icon.svg" alt="Logo">
        {{/if}}
    </a>
</nav>
