<header id="header" class="sticky-top">
    <nav class="navbar navbar-expand navbar-light">
        <a href="/" class="navbar-brand">
            {{#if category.logo}}
            <img src="/{{category.logo}}" alt="Logo">
            {{else}}
            <img src="/assets/images/logo.svg" alt="Logo">
            {{/if}}
        </a>
    </nav>
    {{#if article.wip}}
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        This article is still work in progress. Things may changed, added or removed completely.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}
</header>
